container_commands:
  01_add_environment_variables:
    command: |
      echo "Adding environment variables from the AWS Parameter Store"
      for key in "APP_NAME" "client_id" "client_secret" "redirect_uri"; do
        value=$(aws ssm get-parameter --name $key --region eu-west-2 --with-decryption --query "Parameter.Value" --output text)
        echo "Adding $key=$value to environment properties"
        echo "$key=$value" >> /opt/elasticbeanstalk/deploy/configuration/env
      done