files:
  "/tmp/ssm_env.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      REGION=eu-west-2
      PARAMETERS=("APP_NAME" "redirect_uri" "client_id", "client_secret")
      
      for key in ${PARAMETERS[@]}; do
        value=$(aws ssm get-parameter --name $key --region $REGION --with-decryption --query "Parameter.Value" --output text)
        echo "Adding $key=$value to /tmp/env.list"
        echo "$key=$value" >> /tmp/env.list
      done
      echo "Completed writing to /tmp/env.list"
      cat /tmp/env.list

container_commands:
  01_log:
    command: "echo 'Executing container commands...'"
  02_cat_env_list_before_copy:
    command: "cat /tmp/env.list"
    ignoreErrors: true
  03_copy_env_file:
    command: "cp /tmp/env.list /var/app/staging/packages/server/.env"
    leader_only: true
