files:
  "/tmp/ssm_env.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      REGION=eu-west-2
      PARAMETERS=("APP_NAME" "redirect_uri" "client_id", "client_secret")

      for key in ${PARAMETERS[@]}; do
        value=$(aws ssm get-parameter --name $key --region $REGION --with-decryption --query "Parameter.Value" --output text)
        echo "Adding $key=$value to /tmp/env.list"
        echo "$key=$value" >> /tmp/env.list
      done

container_commands:
  01_copy_env_file:
    command: "cp /tmp/env.list __ENV_FILE_PATH__"
    leader_only: true
  02_replace_docker_compose_file:
    command: "cp /var/app/current/docker-compose.eb.yml /var/app/current/docker-compose.yml"
